#include "windows.h"

1 VERSIONINFO
FILEVERSION 1,2,9411,12848
PRODUCTVERSION 1,2,9411,12848
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "OBDX Pro Pty Ltd"
            VALUE "FileDescription",  "OBDX VX J2534"
            VALUE "FileVersion",      "1.2.9411,12848"
            VALUE "InternalName",     "OBDXVX_J2534.dll"
            VALUE "LegalCopyright",   "Copyright (c) 2025"
            VALUE "OriginalFilename", "OBDXVX_J2534.dll"
            VALUE "ProductName",      "OBDX VX J2534 API"
            VALUE "ProductVersion",   "1.2.9411,12848"
            VALUE "Comments",         "J2534 API for OBDX Pro VX"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04E4
    END
END
